.rm{
    margin-top: 100px;
    border-bottom: 2px solid wheat;
    box-shadow: 5px 5px wheat;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-style: oblique;
}